.wrapper {
  width: 970px;
}

#title {
  text-align: center;
}

#title-p {
  text-align: center;
}

#left {
  width: 485px;
  float: left;
    }

#right {
  padding-top: .05em;
  margin-left: 485px; /* Change this to whatever the width of your left column is*/
}

.slider {
  /*margin: 2em;*/
  margin-bottom: 2em;
  margin-left: 2em;
  width: 90%;
}

.clear {
  clear: both;
}

.button-wrapper {
  text-align: center;
}

.show-button {
  display: block;
  margin: 0 auto;
}

.submit-button {
  display: block;
  margin: 0 auto;
  color: green;
}

.total {
  text-align: center;
}

h4 {
  margin-left: 1em;
  font-family: sans-serif;
}

.graph-wrapper {
  width: 970px;
}

.label-wrapper {
  display: table;
  margin: 0 auto;
}

.label-wrapper checkboxes {
  width: 180px;
  padding: 0px 10px 0px 10px;
  margin-right: 10px;
  float: none;
  display: table-cell; 
  vertical-align: top;
}

.label-left {
  margin-left: 10px;
  width: 190px;
  float:left;
}

.label-right {
  margin-left: 200px;
}

.axis {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}

