@font-face {
  font-family: 'BloombergLBold';
    src: url("http://www.businessweek.com/assets/type/bloombergl_heavy.eot?#iefix") format('embedded-opentype'),
       url('http://www.businessweek.com/assets/type/bloombergl_heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family:'BWHaasHead';
  src: url('http://www.businessweek.com/assets/type/hinted/haas/bwhaasgroteskhead-95black.eot?#iefix') format('eot'),
     url('http://www.businessweek.com/assets/type/hinted/haas/bwhaasgroteskhead-95black.woff') format('woff'),
     url('http://www.businessweek.com/assets/type/haas/bwhaasgroteskhead-95black.ttf') format('truetype');

  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family:'BWHaasHead75Bold';
  src: url('http://www.businessweek.com/assets/type/hinted/haas75/bwhaasgroteskhead-75bold.eot?#iefix') format('eot'),
     url('http://www.businessweek.com/assets/type/hinted/haas75/bwhaasgroteskhead-75bold.woff') format('woff'),
     url('http://www.businessweek.com/assets/type/haas75/bwhaasgrotesktext-75bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family:'BWHaasRegular';
  src: url('http://www.businessweek.com/assets/web_fonts/bwhaasgroteskhead-65medium.eot?#iefix') format('eot'),
     url('http://www.businessweek.com/assets/web_fonts/bwhaasgroteskhead-65medium.woff') format('woff'),
     url('http://www.businessweek.com/assets/web_fonts/bwhaasgrotesktext-65medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'digitaldismay';
  src: url('fonts/digitaldismay.otf');
}

.wrapper {
  width: 970px;
}

#title {
  font-size: 4em;
  font-family: 'BWHaasHead',sans-serif;
}

.clockman {
  position: relative;
}

#clockman-time {
  position: absolute;
  top: 3%;
  left: 6%;
  font-family: 'digitaldismay';
  font-size: 10em;
  color: #0f0;
  text-align: center;
}

.slide-wrapper {
  width: 970px;
  margin-top: 5px;
f}

.slide-container {
  margin-bottom: .5em;
  background: black;
  border: 1px solid #0f0;
  border-radius: 10px;
  padding-bottom: 10px;
  min-height: 90px;
}

.slide-container p {
  color: white;
  margin: .5em;
  text-align: center;
  height: 0px;
}


.hours {
  font-family: 'BWHaasRegular';
  position: relative;
  right: -2%;
  top: 29px;
  z-index: 100;
  font-size: 13px;
}

.average-hours {
  color: black;
  font-family: 'BWHaasRegular';
  position: relative;
  right: -2%;
  top: 12px;
  z-index: 100;
  font-size: 13px;
}

.inline-block {
  display: inline-block;
}

.quarter {
  width: 24.69%;
  margin: 0px;
}

.slider {
  width: 80%;
  margin: 0 auto;
  /*margin-bottom: -17px;*/
}

.average-slider {
  width: 80%;
  margin: 0 auto;
  margin-top: -17px;
}


.clear {
  clear: both;
}

.asterisk {
  margin-top: 5px;
  font-size: 12px;
}

.enable-time {
  color: #0f0;
  font-family: 'BWHaasRegular';
  font-size: 3em;
}

.button-wrapper {
  text-align: right;
  margin-top: -20px;
}

.submit-btn {
  margin-left: 2em;
  margin-right: -4px;
  width: 239px;
  height: 86px;
  border-radius: 10px;
  font-family: 'BWHaasRegular';
  font-size: 3em;
  background: black;
  color: grey;
  border: 1px solid #0f0;
}

.active-submit {
  color: #0f0;
}

.pure-button {
  font-family: 'BWHaasRegular';
  height: 6em;
  width: 15em;
  border-radius: 8px;
}

.pure-button-primary {
  font-size: 1.5em;
  background: blue;
}

.select-wrapper {
  display: table;
  /*margin: 0 auto;*/
}



.select-wrapper checkboxes p {
  text-align: left;
  margin-left: 13px;
}

.select-wrapper checkboxes{
  width: 300px;
  /*padding-right: 30px;*/
  padding: 0px 20px 0px 20px;
  float: none;
  display: table-cell; 
  vertical-align: top;
  text-align: center;
}

#first-check {
  text-align: left;
  padding: 0px;
}

#last-check {
  text-align: right;
  padding: 0px;
}

#first-check p {
  text-align: left;
  margin-left: 0px;
}

#last-check p {
  text-align: left;
  margin-left: 35px;
}

.select-wrapper checkboxes:last-child {
  padding-right: none;
}

.label-left {
  margin-left: 10px;
  width: 190px;
  float:left;
}

.label-right {
  margin-left: 200px;
}

.axis {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}


select {
  /*position: absolute;*/
  /*left: 400px;*/
  background: black;
  color: white !important;
  border: 1px solid #0f0;
  /*border-radius: 20%;*/
  width: 10em;
  height: 3em;
  margin-left: 10em;
}

option {
  background: black !important;
  color: #0f0;
}

.blink {
  animation: blink 1.25s steps(3, start) infinite;
  -webkit-animation: blink 1.25s steps(3, start) infinite;
}
@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}