.wrapper {
  width: 970px;
}

#left {
  width: 485px;
  float: left;
    }

#right {
  padding-top: .05em;
  margin-left: 485px; /* Change this to whatever the width of your left column is*/
}

.slider {
  /*margin: 2em;*/
  margin-bottom: 2em;
  margin-left: 2em;
  width: 90%;
}

.clear {
  clear: both;
}

h4 {
  margin-left: 1em;
  font-family: sans-serif;
}

.axis {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
