<div class="wrapper">
  <div id="left">
    <div ng-repeat="data in averageData.slice(0, 6)">
      <h4 tooltip-placement="bottom" tooltip="{{averageData[$index].nested}}">{{data.activity}}: {{activity}} hours</h4>
      <div slider class="slider" counter="{{data.counter}}" ng-model="activity"></div>
    </div>
  </div>
  <div id="right">
    <div ng-repeat="data in averageData.slice(6, 12)">
      <h4 tooltip-placement="bottom" tooltip="{{averageData[$index + 6].nested}}">{{data.activity}}: {{activity}} hours</h4>
      <div slider class="slider" counter="{{data.counter}}" ng-model="activity"></div>
    </div>
  </div>
  <div class="clear"></div>

<span>Total Hours: {{totalHours}}</span>
<br>
<button ng-show="checkHours()" ng-click="showGraph()">How do you compare to the average American?</button>
<br>

<label ng-repeat="item in checkboxArray" class="checkbox-inline">
  <input type="checkbox" id="{{item.label}}" class="{{item.group}} checkbox" name="{{item.group}}" show-check> {{item.label}}
</label>




<div d3-bar data="testData" show="displayGraph"></div>
</div>


