<div class="wrapper">
  <h1 id="title">How Do You Compare<br> to the Average American?</h1>
  <p id="title-p">Use the sliders to chart your day. Once all 24 hours are accounted for, click "Submit" to see how you compare</p>
  <div id="left">
<!--     <div ng-repeat="data in averageData.slice(0, 12)">
      <h4 tooltip-placement="bottom" tooltip="{{averageData[$index].nested}}">{{data.activity}}: {{activity}} hours</h4>
      <div slider class="slider" counter="{{data.counter}}" ng-model="activity"></div>
    </div> -->
  </div>
  <div id="right">
    <div ng-repeat="data in averageData.slice(0, 12)">
      <div class="nest-left">
        <div slider class="slider" counter="{{data.counter}}" ng-model="activity"></div>
      </div>
      <div class="nest-right">
        <p tooltip-placement="bottom" tooltip="{{averageData[$index + 6].nested}}">{{data.activity}}</p>
      </div>
    </div>
  </div>

  <div class="clear"></div>

<br>
<div class="button-wrapper">

<a href="" smooth-scroll target="graph-wrapper"><button class="btn btn-default" ng-class="{'pure-button-primary': !checkHours()}" ng-disabled="checkHours()" ng-show="labels" ng-click="showGraph()">Submit <span ng-show="checkHours()">({{hoursRemaining}} hours <span ng-show="more">more</span> <span ng-hide="more">less</span> to enable)</span></button></a>

<br>
</div>

<div ng-hide="labels" id="graph-wrapper" class="graph-wrapper">
  <div class="label-wrapper">
    <checkboxes group="gender"></checkboxes>
    <checkboxes group="age"></checkboxes>
    <checkboxes group="race"></checkboxes>
    <checkboxes group="education"></checkboxes>
    <checkboxes group="day"></checkboxes>
  </div>
  <div d3-barh data="testData" show="displayGraph"></div>
</div>

</div>


